@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.modalBtn {
  margin: 20px 20px;
  padding: 6px 13px;
  background: green;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: snow;
  transition: 0.5s;
}
.modalBtn:hover {
  background-color: yellowgreen;
  color: black;
}